<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/css/style.css"> 
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Расчитай энергоэффективность своего дома!</h1>
      <p>Реши проблему излишнего электропотребления самостоятельно!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <form action="{{ url_for('submit_form') }}" method="post" class="form">
      <div class="user">
        <ul class="user-info">
            <li class="user-info__item">

                <label for="name">Ф.И.О</label>
                <input type="text" name="name" id="name" placeholder="Введите ваше ФИО" required>
            </li>
            <li class="user-info__item">
                <!-- Задание 4. Создай input для email пользователя -->
                <label for="address">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Введите ваш e-mail" required>
            </li>
        </ul>
        <!--Поля для адреса и даты-->
        <ul class="address-date">
            <li class="user-info__item">

                <label for="address">Укажите ваш адрес</label>
                <input type="text" name="address" id="address" placeholder="Ваш адрес" required>
            </li>
            <li class="user-info__item">

                <label for="date">Укажите дату приезда наших служб</label>
                <input type="date" name="date" id="date" required>
            </li>
        </ul>
    </div>
    <button class="button" type="submit">Готово!</button>
    </form>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
