<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Экомир</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Мы рады приветствовать Вас на нашем сайте. Прежде, чем Вы начнёте им пользоваться, должны напомнить о политике конфиденциальности. Надеемся, что пребывание на сайте доставит Вам лишь удовольствие.</p>
    <p>С уважением,</p>
    <p>команда разработчиков</p>
    <a href = "/home">
    <span>Далее</span></a>

    
</body>
</html>